@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-main {
    @apply text-6xl md:text-8xl text-white text-center font-bold;
  }

  .text-main-sub {
    @apply text-xl md:text-3xl text-white text-center;
  }

  .text-title {
    @apply text-2xl md:text-3xl text-white font-bold;
  }

  .text-desc {
    @apply text-base md:text-lg text-white;
  }

  .text-with-space {
    letter-spacing: 1rem;
    margin-left: 1rem;
  }

  .text-with-space-sm {
    letter-spacing: 0.3rem;
    margin-left: 0.3rem;
  }

  .bg-color-header-footer {
    @apply bg-slate-700;
  }
  .bg-color-page {
    @apply bg-gradient-to-b from-sky-700 from-80% to-sky-600 to-90%;
  }
}
