@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-main {
    @apply text-6xl md:text-8xl text-white text-center font-bold;
  }

  .text-main-sm {
    @apply text-4xl md:text-6xl text-white text-center font-bold;
  }

  .text-main-sub {
    @apply text-xl md:text-3xl text-white text-center;
  }

  .text-title {
    @apply text-2xl md:text-3xl text-white font-bold;
  }

  .text-desc {
    @apply text-base md:text-lg text-white;
  }

  .text-link {
    @apply text-base md:text-lg text-white hover:underline;
  }

  .text-caption {
    color: #170d96;
    @apply text-base md:text-lg text-center;
  }

  .text-with-space {
    letter-spacing: 1rem;
    margin-left: 1rem;
  }

  .text-with-space-sm {
    letter-spacing: 0.3rem;
    margin-left: 0.3rem;
  }

  .bg-color-header-footer {
    @apply bg-slate-700;
  }
  .bg-color-page {
    @apply bg-gradient-to-b from-sky-700 from-80% to-sky-600 to-90%;
  }
  .bg-color-img-caption {
    background: #ffeb80;
  }
  .bg-color-link-box {
    background: #ffd6a6;
    @apply shadow-lg shadow-slate-800;
  }
  .bg-color-link-box-hover {
    background: #ffc380;
  }
  .btn-link-color {
    background: #ffd6a6;
    color: #374151;
  }
  .btn-link-color-hover {
    background: #ffc380;
    color: #677a98;
    text-decoration: underline;
  }
  .btn-link-header-color {
    @apply bg-slate-500;
  }
  .btn-link-header-color-hover {
    text-decoration: underline;
    @apply bg-slate-500;
  }

  .ani-float-up {
    opacity: 0;
    animation: 1s floatUp ease-in-out forwards;
  }

  @keyframes floatUp {
    0% {
      opacity: 0;
      transform: translateY(25%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .ani-appear {
    opacity: 0;
    animation: 1s appear 0.5s ease-in-out forwards;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .ani-float-right {
    opacity: 0;
    animation: 1s floatRight 0.5s ease-in-out forwards;
  }

  @keyframes floatRight {
    0% {
      opacity: 0;
      transform: translateX(25%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
